/RESTServletExample/build/
/RESTServletExample/dist/
/RESTlets/nbproject/private/
/RESTlets/build/
/RESTlets/dist/
/RESTletsExample/build/
/CURDlets/nbproject/private/
/CURDlets/dist/
/CURDlets/build/
/CURDletsExample/build/
/CRUDletsExample/build/
/CRUDlets/nbproject/private/
/CRUDlets/build/
/CRUDlets/dist/