package $EndpointPackage;


import $EntityPackage.$AuthEntityName;
import com.tna.Endpoints.AuthorisationEndpoint;
import javax.servlet.annotation.WebServlet;
import org.json.simple.JSONObject;

@WebServlet("/$AuthEndpoint/*")
public class Authentication extends AuthorisationEndpoint{

    @Override
    public JSONObject login(JSONObject obj) throws com.tna.Utils.Authorisation.UnauthorisedException {
     return new $AuthEntityName().login(obj);
    }



    
}
